<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="SzwalniaEntities" connectionString="metadata=res://*/Szwalnia.csdl|res://*/Szwalnia.ssdl|res://*/Szwalnia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PKI0NOT\KWZP2020;initial catalog=Szwalnia;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>